
+incdir+$BASEJUMP_STL_DIR/bsg_misc

$TEST_DIR/testbench.sv
$TEST_DIR/phy_nonsynth.sv

$ETH_SRC_DIR/ethernet_receiver.sv
$ETH_SRC_DIR/ethernet_sender.sv
$ETH_SRC_DIR/packet_buffer.sv
$ETH_SRC_DIR/ethernet_controller.sv
$ETH_SRC_DIR/ethernet_control_unit.sv
$ETH_SRC_DIR/interrupt_control_unit.sv
$ETH_SRC_DIR/eth_mac_1g_rgmii_fifo.v
$ETH_SRC_DIR/eth_mac_1g_rgmii.v
$ETH_SRC_DIR/eth_mac_1g.v
$ETH_SRC_DIR/axis_adapter.v
$ETH_SRC_DIR/axis_async_fifo_adapter.v
$ETH_SRC_DIR/axis_async_fifo.v
$ETH_SRC_DIR/axis_fifo.v
$ETH_SRC_DIR/axis_fifo_mem.sv
$ETH_SRC_DIR/axis_gmii_rx.v
$ETH_SRC_DIR/axis_gmii_tx.v
$ETH_SRC_DIR/lfsr.v
$ETH_SRC_DIR/tx_clks_generator.sv
$ETH_SRC_DIR/oddr_clock_downsample_and_right_shift.sv
$ETH_SRC_DIR/rgmii_phy_if.v
$ETH_SRC_DIR/ssio_ddr_in.v
$ETH_SRC_DIR/bsg_mem_1r1w_sync_wrapper.v

$BASEJUMP_STL_DIR/bsg_link/bsg_link_oddr_phy.v
$BASEJUMP_STL_DIR/bsg_link/bsg_link_iddr_phy.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_defines.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_counter_clock_downsample.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_strobe.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_buf.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_reduce.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_nor3.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_nand.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_xnor.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_muxi2_gatestack.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_dff.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_dff_en.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_dff_en_bypass.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_dff_reset.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_dff_reset_set_clear.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_dff_reset_en.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_dff_async_reset.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_counter_up_down.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_decode.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_mux_one_hot.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_circular_ptr.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_counter_clear_up.v
$BASEJUMP_STL_DIR/bsg_misc/bsg_edge_detect.v
$BASEJUMP_STL_DIR/bsg_dataflow/bsg_fifo_tracker.v
$BASEJUMP_STL_DIR/bsg_dataflow/bsg_flow_counter.v
$BASEJUMP_STL_DIR/bsg_mem/bsg_mem_1rw_sync_mask_write_byte.v
$BASEJUMP_STL_DIR/bsg_mem/bsg_mem_1rw_sync_mask_write_byte_synth.v
$BASEJUMP_STL_DIR/bsg_mem/bsg_mem_1rw_sync.v
$BASEJUMP_STL_DIR/bsg_mem/bsg_mem_1rw_sync_synth.v
$BASEJUMP_STL_DIR/bsg_mem/bsg_mem_1r1w.v
$BASEJUMP_STL_DIR/bsg_mem/bsg_mem_1r1w_synth.v
$BASEJUMP_STL_DIR/bsg_mem/bsg_mem_1r1w_sync.v
$BASEJUMP_STL_DIR/bsg_mem/bsg_mem_1r1w_sync_synth.v
$BASEJUMP_STL_DIR/bsg_async/bsg_async_fifo.v
$BASEJUMP_STL_DIR/bsg_async/bsg_launch_sync_sync.v
$BASEJUMP_STL_DIR/bsg_async/bsg_async_ptr_gray.v
